.banner {
  background-image: url("../../images/background.png");
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  bottom: 185px;
  left: 185px;
}

.container h1 {
  margin: 5px;
}

.container p {
  color: gray;
  margin: 20px 0;
  font-size: 20px;
}

.btn-green {
  background-color: #1EDD88;
  color: white;
  border: 25px;
  border-radius: 18px;
  text-decoration: none;
  padding: 10px;
}
