.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  margin: 10px;
}


.card-apply {
  box-shadow: 0 0 2px 0.5px rgb(200, 199, 199);
  padding: 0 10px;
}

.card-learn {
  box-shadow: 0 0 2px 0.5px rgb(200, 199, 199);
  padding: 0 10px;
}

.card-products {
  box-shadow: 0 0 2px 0.5px rgb(200, 199, 199);
  padding: 0 10px;
}

.card-apply img{
  max-width: fit-content;
  max-height: 100px;
  padding: 10px;
}
.card-learn img{
  max-width: fit-content;
  max-height: 100px;
  padding: 10px;
}
.card-products img{
  max-width: fit-content;
  max-height: 100px;
  padding: 10px;
}

.card-apply p {
  color: rgb(152, 149, 149)
}

.card-learn p {
  color: rgb(152, 149, 149)
}

.card-products p {
  color: rgb(152, 149, 149)
}
