.footer {
  display: flex;
  background-color: rgb(42, 42, 42);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 55px;
}

.footer .icons a {
  color: #1EDD88;
  padding: 5px;
  font-size: 30px;
}

.footer p {
  font-size: 18px;
  color:rgb(95, 95, 95);
  padding: 5px;
}

.footer p a {
  color: rgba(231, 43, 43, 0.889);
}
